<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogoresize1"
        android:label="SUCASA"
        android:roundIcon="@drawable/applogoresize1"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRESTIGE"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">

        <!-- MainActivity (Launcher Activity with Logo Animation) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignIn Activity -->
        <activity
            android:name=".SignIn"
            android:exported="false" />

        <!-- SignUp Activity -->
        <activity
            android:name=".SignUp"
            android:exported="false" />

        <!-- ResidentsScreen Activity -->
        <activity
            android:name=".ResidentsScreen"
            android:exported="false" />

        <!-- PresidentsScreen Activity -->
        <activity
            android:name=".PresidentsScreen"
            android:exported="false" />

        <!-- SecurityGuardScreen Activity -->
        <activity
            android:name=".SecurityGuardScreen"
            android:exported="false" />

        <!-- Raise Issue Activity -->
        <activity
            android:name=".RaiseIssueactivity"
            android:exported="false" />

        <!-- View Issues Activity -->
        <activity
            android:name=".ViewIssuesActivity"
            android:exported="false" />

        <!-- View Events Activity -->
        <activity
            android:name=".ViewEventsActivity"
            android:exported="false" />

        <!-- Schedule Event Fragment (converted to activity if needed) -->
        <activity
            android:name=".ScheduleEventFragment"
            android:exported="false" />

        <!-- Update Maintenance Activity -->
        <activity
            android:name=".UpdateMaintenanceActivity"
            android:exported="false" />

        <activity android:name=".AddOrderActivity" />

    </application>

</manifest>